/* base styles */
* {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  color: #333;
}
.singleStud {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 1px solid #f2f2f2;
  margin-bottom:20px;
  border-color:darkblue;
  background-color:cornflowerblue;
  
}
.studgroup{
  display: flex;
  flex-direction:column-reverse;
}
.student h1 {
  font-size: Medium;
}
